  <div class="content-wrapper">
    <section class="content-header">
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <div class="row">
          <!-- TABLE: LATEST ORDERS -->
          <div class="col-md-12"> 
            <div class="">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Clients</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">

        <p id="notice"><%= notice %></p>
        <table class="table table-striped">
            <tbody>
              <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Fiscal Number</th>
                  <th>Website</th>
                  <th></th>
                </tr>
                <% @clients.each do |client| %>
                <tr>
                  <td><%= client.name %></td>
                  <td><%= client.email %></td>
                  <td><%= client.phone %></td>
                  <td><%= client.fiscal_number %></span></td>
                  <td><%= client.website %></td>
                  <th class="text-center">
                    <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_client_path(client), class: 'btn btn-warning btn-xs' %>
                    <%= link_to "<i class='fa fa-trash'></i>".html_safe, client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>                  
                  </th>
                </tr>
                <% end %>
              </tbody>
            </table>
                  <br>

               <%= link_to 'New client', new_client_path, class: 'btn btn-primary' %>
 
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>




